#wrapper {
    position: relative;
    margin: 130px auto;
    border: 1px solid #fafafa;
  }

/* Hide the original tooltips contents */
.pin {
    display: none;
}
.tooltip img{
    width: 100%;
}

/* Begin styling the tooltips and pins */
.tooltip-up,
.tooltip-down {
    position: absolute;
    display: block;
    background: url(../images/arrow-up-down.png);
    width: 36px;
    height: 52px;
    /*size 30 by 44 */
}

.tooltip-down {
    background-position: 0 -52px;
}

.tooltip {
    display: none;
    width: 150px;
    cursor: help;
    position: absolute;
    top: 10px;
    left: -155%;
    z-index: 999;
    padding: 15px;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .7);
    background: var(--blue-gray);
    text-align: center;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid var(--darkblue-gray);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.tooltip-down .tooltip {
    bottom: 12px;
    top: auto;
}

.tooltip-down .tooltip::after {
    bottom: -10px;
    top: auto;
    border-bottom: 0;
    border-top: 10px solid var(--darkblue-gray);
}

.tooltip h2 {
    font: bold 1em 'Trebuchet MS', Tahoma, Arial;
    margin: 0;
}

.tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tooltip ul li{
    padding-bottom: 10px;
}

.tooltip ul li:last-child{
    padding:0;
}

.tooltip img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

/*tooltip button*/

.cta{
    margin: 0;
    padding: 0.25rem 1rem;
    font-size: 0.8rem;
}
