
body{
    height: 100vh;
}

.home-body{
    overflow-x: hidden;
}

:root{
    --primary: rgb(18, 53, 91);
    --primary-clear: #123459ac;
    --blue-gray: #E4E9ED;
    --darkblue-gray: #a8b6c1;
    --soft-black: #464655;
    --white: #ffffff;
    --black: #000000;
}

h1,h2,h3,h4,h5{
    font-family: 'Lora', serif;
    font-weight: 700;
}

a,p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 1rem;
}

p a{
    margin: 0;
    padding: 0;
    color: var(--primary);
}

h1,.h1{
    font-size: calc(2rem + 1.5vw);
}

i{
    color: var(--primary);
    font-size: 2.5rem;
}

main{
    margin-top: 78px;
}

main .rectangle-top{
    overflow:hidden;
}

.container-xxl{
    padding: 0;
}

.btn-primary{
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 25vh;
    padding: 1rem 1.5rem;
}

.btn-primary:hover{
    color: var(--primary);
    border: var(--primary) 1px solid;
    background-color: var(--white);
}

.btn-close:focus{
    box-shadow: 0 0 0 0.25rem rgb( 18 53 91/ 25%);
}



.lead{
    font-size: 1.1rem;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.nav-link{
    padding: 0;
}

/*javascript classes*/
.show{
 /* display: inherit;*/
}

.hidden{
    display:none;
}

/*--MEDIA QUERIES--*/

@media (min-width: 1250px) {
    .shape{
        width: 100vw;
        height: 100vh;
    }

    .rectangle-top{
        top: 0;
        right: 0;
        transform: translate(60%,-30%) rotate(45deg);
    }
    
    .rectangle-bottom{
        bottom: 0;
        left: 0;
        transform: translate(-60%, 30%) rotate(45deg);
    }

    .carousel-item{
        height: 65vh;     
    }

    .description .thumbnail{
        width: 20vw;
    }
}

@media (min-width: 768px) and (max-width: 1250px) {
    .shape{
        width: 100vw;
        height: 100vh;
    }

    .rectangle-top{
        top: 0;
        right: 0;
        transform: translate(70%,-50%) rotate(45deg);
    }
    
    .rectangle-bottom{
        bottom: 0;
        left: 0;
        transform: translate(-70%, 50%) rotate(45deg);
    }

    .d-md-block{
        display: block!important;
    }

    .carousel-item{
        height: 60vh;     
    }

    .description .thumbnail{
        width: 20vw;
    }
}
    
@media (max-width: 768px) {
    .shape{
        width: 70vw;
        height: 50vh;
    }

    .rectangle-top{
        top: 0;
        right: 0;
        transform: translate(90%,-60%) rotate(45deg);
    }
    
    .rectangle-bottom{
        bottom: 0;
        left: 0;
        transform: translate(-90%, 60%) rotate(45deg);
    }

    .d-md-block{
        display: block!important;
    }

    .carousel-item{
        height: 60vh;     
    }
    .navbar-nav {
        width: 100%;
    }
}

/*--nav--*/
nav a{
    color: var(--black);
}
nav a:hover{
    color: var(--soft-gray);
}


header{
    background-color: var(--blue-gray);
    width: 100vw;
    overflow: hidden;
}

hr{
    color: var(--soft-gray);
    margin: 1em;
}

.home-nav{
    background-color: #ffffffa6;
}

/*--hero--*/
.home-body{
    overflow-x: hidden;
}
.hero-image{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.lead-arrow{
    position: absolute;
    bottom: 0;
}

.shape{
    position: absolute;
    background-color: var(--blue-gray);
    border-radius: 10vh;
}



/*--ART MAP--*/

/*map-container*/
.map{
    overflow-x: hidden;
}

.map-container{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}


.tooltip {
    opacity: 100%;

}
  


/*alert / instructions */


#instructionOverlay{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-clear);
    z-index: 500;
}

#instructionOverlay .alert{
    max-width: 550px;
}

.alert-warning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--black);
    background-color:var(--white);
    border-color: #00FFFF00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70vw;
    text-align: center;
    z-index: 600;
}

.alert-dismissible{
    padding-right:1rem;
}

.alert img{
    padding: 1rem;
}

/*description*/

.thumbnail{
    padding: 1rem;
    position: relative;
    width: 30vw;
    left: 50%;
    transform: translate(-50%,0);
}

.description .thumbnail-image{
    width: 100%;
}

.description h1{
    text-align: center;
    padding: 1rem;
}

.dropdown-menu p{
    margin: 0.5rem 1rem;
}

.description .dropdown{
    margin: 1rem;
}

/*accordian*/

.accordian-pre-text p{
    margin:0;
    margin-top: 0.5rem;
}

.accordian-pre-text h5{
    color: var(--primary);
    padding: 0;
}

.accordion-button{
    padding: 2rem 1rem;
}

.accordion-button::after{
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2312355B'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus{
    border-color: var(--blue-gray);
    box-shadow: 0 0 0 0.25rem (var(--blue-gray)/ 25%)
}

.accordion-button:not(.collapsed){
    color: var(--black);
    background-color: var(--blue-gray);
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2312355B'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-flush .accordion-item:first-of-type .accordion-button{
    border-top-width: 1px;
}
.accordion-flush .accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-width: 1px;
}

/*carousel*/

.carousel-item img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-item a{
    margin: 0;
}

.carousel-caption{
    background-color: var(--primary-clear);
}

.carousel-control-prev{
    background-image: linear-gradient(to right, var(--primary),#00FFFF00);
}

.carousel-control-next{
    background-image: linear-gradient(to left, var(--primary),#00FFFF00);
}

.carousel-caption h5, .carousel-caption p{
    padding: 0;      
    margin: 0;
}

.number{
    position: absolute;
    top: 15%;
    right: 15%;
    padding: 1rem;
    color: #fff;
    text-align: center;
    display: inline;
    background-image: radial-gradient(var(--primary-clear), #00FFFF00);
}

.number p{
    display: inline-block;
    margin: 0;
}

/*audio*/

.audio{
    margin: 1.5rem 0;
}

.audio a{
    margin: 0;
    padding: 0;
}

.audio h5{
    padding: 0;
}

audio::-webkit-media-controls-enclosure{
    background-color: var(--blue-gray);
    width: 100%;
}

.dropdown .btn-primary{
    background-color: #00FFFF00;
    border-color: #00FFFF00;
    color: var(--primary);
}

.dropdown .btn-primary:hover{
    background-color: #00FFFF00;
    border-color: #00FFFF00;
    background-color: #00FFFF00;
}

.dropdown .btn-primary:focus,.btn:focus{
    box-shadow: 0 0 0 0;
}

.dropdown .show{
    display: inline-block;
}

.dropdown .dropdown-menu{
    position: relative;
}

/*--ABOUT--*/

.about h2,h5{
    padding: 1rem;
}

.about h2{
    padding-top: 2rem;
    text-align: center;
}

.about h5{
    padding-bottom: 0rem;
}

/*--CONTACT--*/
.contact .text p{
    margin-top: 0.5rem;
}
